<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Live Chat App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <section class="chat-area">
      <header>
        <a (click)="goBack()" class="back-icon"><i class="fas fa-arrow-left"></i></a>
        <img src="./../../assets/images/{{this.userToChat.img}}" alt="">
        <div class="details">
          <span>{{this.userToChat.fname}}</span>
            <p class="lname">{{this.userToChat.lname}}</p>
        </div>
      </header>
        <div id="chatDiv" class="chat-box">
          <div *ngFor="let message of this.messages">
          <div class="chat " [ngClass]="(message.outgoing_msg_id === this.user.uniqueId) ? 'outgoing' : 'incoming'">
            <div class="details" (mouseover)='hoverMessage = message' (mouseleave)='hoverMessage = null'>
              <div class="msg">
                <p *ngIf="message.outgoing_msg_id === this.user.uniqueId; else incoming">{{message.msg}}
                  <i [ngClass]="hoverMessage === message ? 'show-icon' : 'hide-icon'" (click)="deleteMessage(message)" class="fas fa-trash-alt"></i>
                </p>
              </div>
              <ng-template #incoming>
                <div class="msg">
                  <p *ngIf="message.outgoing_msg_id !== this.user.uniqueId" class="msg">{{message.msg}}</p>
                </div>
              </ng-template>
          </div>
          </div>
        </div>
      </div>
      <form action="#" class="typing-area" (ngSubmit)="sendMessage(this.message.msg)">
        <input type="text" class="incoming_id" name="incoming_id" value="" hidden>
        <input [(ngModel)]="this.message.msg" #msg="ngModel" type="text" name="message" class="input-field" placeholder="Scrivi il messaggio..." autocomplete="off">
        <button [disabled]="message === null" [ngClass]="(this.message.msg === '' || this.message === null) ? '' : 'active'" type="submit"><i class="fab fa-telegram-plane"></i></button>
      </form>
    </section>
  </div>

</body>
</html>
