/* body {
  background-color: #fff;
} */
.send {
  cursor: pointer;
}

.lname {
  font-weight: 600;
}

i {
  cursor: pointer;
}

i.show-icon {
  visibility: visible;
}

i.show-icon-right {
  visibility: visible;
  padding-left: 0.5rem;
}

i.hide-icon {
  visibility: hidden;
}

.content {
  float: left;
}

.msg {
  margin-left: 0.2rem;
  float: right;
}
