/* body {
  background-color: #fff;
} */
.send {
  cursor: pointer;
}

.lname {
  font-weight: 600;
}

i {
  cursor: pointer;
}

i.show-icon {
  visibility: visible;
}

i.hide-icon {
  visibility: hidden;
}
